* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #002d62;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.brand-title {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

.navbar-links ul {
  margin: 0;
  padding: 0px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 16px;
  margin-left: 10px;
  transition: transform 250ms;
}

.navbar-links li a:hover {
  transform: translateY(-5px);
}

.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .brand-title {
    width: 100%;
    text-align: center;
  }
}
